<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='sidebar'>
      <ul>
        <li class='category'>Website</li>
        <li><%= link_to 'Blog', root_path %></li>
        <li>About</li>
      </ul>

      <ul>
        <li class='category'>Social</li>
        <li><a href='https://twitter.com/twoesplease'>Twitter</a></li>
        <li><a href='https://github.com/twoesplease'>Github</a></li>
        <li><a href='mailto:itisi@toneeyoung.com'>Email</a></li>
      </ul>
      </div>

    <%= yield %>
  </body>
</html>
